* {
    margin: 0;
    padding: 0;
}

.home {
    background: url(../images/hero-img.jpg), rgba(0, 0, 0, 0.7);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Header */
.navbar {
    background-color: white;
}

.navbar-brand {
    font-size: 3rem !important;
    color: rgb(129, 196, 8) !important;
}

.clr {
    color: rgba(0, 0, 0, .55) !important;

}

.clr:hover {
    color: rgb(129, 196, 8) !important;
}

/* home */
.homee {

    color: rgb(129, 196, 8) !important;

}

/* Products */
.prd{
    color: #45595b !important;
    text-decoration: none !important;

}
.prd:hover{
    background-color: #ffb524 !important;
    color: white !important;


}
/* Add to cart */


.add-card {
    color: rgb(129, 196, 8) !important;

}

.add-card:hover {
    color: white !important;
}

.card {
    overflow: hidden;
}

.card img {
    transition: transform 0.4s ease-in-out;
}
.card:hover{
    box-shadow: 0 0 5px grey;
}

.card:hover img {
    transform: scale(1.1);
}



/*** Footer Start ***/
.bg-dark{
        background-color: #45595b !important; 

}
.footer .footer-item .btn-link {
    line-height: 35px;
    color: rgba(255, 255, 255, .5) !important;
    transition: 0.5s;
}

.footer .footer-item .btn-link:hover {
    color: #81c408 !important;
}

.footer .footer-item p.mb-4 {
    line-height: 35px;
}
.footer a{
    text-decoration: none;
}
/*** Footer End ***/

